html
  head
    title= title
    link(rel="stylesheet", href="css/style.css")
  body
    h1= bodyTitle
    p= welcomeMessage
    p
      a(href="/api") See the api
    h3 TODO
    ul
      li error handling / input sanitation
      li improve Model structure (are fields missing? etc.)
      li better search / query (for example: sorting, slicing (first 20 results, next 20 results))
      li delete / update
      li front end
      li authentification

    h2 All users:
    div(class="users-grid")
      each user in users
        div(class="user-grid")
          div name = #{user.name}
          div email = #{user.email}
          div password = #{user.password}
          div id = #{user._id}
          div posts = #{user.posts}
    
    h2 All posts:
    div(class="posts-grid")
      each post in posts
        div(class="post-grid")
          div title = #{post.title}
          div author = #{post.author}
          div date = #{post.date}
          div body = #{post.body}
          div id = #{post._id}
          div comments = #{post.comments}